body{
    background-color:darkgrey;
    display: flex;
    flex-direction: column;
}

.texts{
    margin: 1%;
    padding: 0;
}

.formClass{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.buttonClass{
    width: 40%;
    margin: 10px;
}

#recognizedText{
    margin-top: 15px;
    width: 90%;
    height: 600px;
}